extends layout

block content
  input#search(type="search", placeholder="Search for Job offers")
  h2#results

  script(src="https://code.jquery.com/jquery-2.1.1.min.js")
  script(src="/javascripts/main.js")
