doctype html
html
    head
        title Index page
        link(href='libs/bootstrap.min.css', rel='stylesheet', type='text/css')
        link(href='styles/signin.css', rel='stylesheet', type='text/css')
    body
        include login.html